***SI 311 Homework #4: Park Factor on Polo Grounds, Candlestick Park Through the Lens of Willie Mays' Career***

Data from: https://www.baseball-reference.com/teams/

APA Citation: 
List of all the Major League Baseball Teams. Baseball. (n.d.). Retrieved September 30, 2022, from https://www.baseball-reference.com/teams/ 

Formulas from SI 311, University of Michigan Fall '22

*Code Written by Brandon Huggard*

https://www.linkedin.com/in/brandon-huggard-5957a0192/

In [2]:
import pandas as pd
import numpy as np

In [3]:
full = pd.read_csv('allyears.csv')

In [4]:
full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    96 non-null     int64
 1   Split   96 non-null     object
 2   G       96 non-null     int64
 3   GS      96 non-null     int64
 4   PA      96 non-null     int64
 5   AB      96 non-null     int64
 6   R       96 non-null     int64
 7   H       96 non-null     int64
 8   2B      96 non-null     int64
 9   3B      96 non-null     int64
 10  HR      96 non-null     int64
 11  RBI     96 non-null     int64
 12  SB      96 non-null     int64
 13  CS      96 non-null     int64
 14  BB      96 non-null     int64
 15  SO      96 non-null     int64
 16  BA      96 non-null     float64
 17  OBP     96 non-null     float64
 18  SLG     96 non-null     float64
 19  OPS     96 non-null     float64
 20  TB      96 non-null     int64
 21  GDP     96 non-null     int64
 22  HBP     96 non-null     int64
 23  SH      96 non-null     int64
 24  SF      90 non-null     float64
 25  IBB     96 non-null     int64
 26  ROE     96 non-null     int64
 27  BAbip   96 non-null     float64
 28  tOPS+   96 non-null     int64
 29  sOPS+   96 non-null     int64
dtypes: float64(6), int64(23), object(1)
memory usage: 22.6+ KB

In [5]:
full.shape

(96, 30)

In [6]:
full.head(3)

,Year,Split,G,GS,PA,AB,R,H,2B,3B,...,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,sOPS+
0,1951,Home,903,78,2979,2603,399,678,86,28,...,1165,49,23,41,NaN,17,39,0.260,107,114
1,1951,Away,933,79,3174,2757,382,718,115,25,...,1075,71,17,41,NaN,31,45,0.274,94,109
2,1952,Home,975,77,2839,2546,369,655,71,29,...,1093,44,19,39,NaN,20,41,0.259,106,112

In [7]:
polo = full[full["Year"] <= 1957]

In [8]:
polo.columns

Index(['Year', 'Split', 'G', 'GS', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'TB', 'GDP',
       'HBP', 'SH', 'SF', 'IBB', 'ROE', 'BAbip', 'tOPS+', 'sOPS+'],
      dtype='object')

In [9]:
polo = polo.drop(columns = ['G', 'GS', 'PA', 'R', 'H', '2B', '3B','RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'TB', 'GDP',
       'HBP', 'SH', 'SF', 'IBB', 'ROE', 'BAbip', 'tOPS+', 'sOPS+'])

In [10]:
polo_home = polo[polo['Split'] == 'Home']

In [11]:
polo_away = polo[polo['Split'] == 'Away']

In [12]:
candlestick = full[full["Year"] > 1957]

In [13]:
candlestick

,Year,Split,G,GS,PA,AB,R,H,2B,3B,...,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,sOPS+
14,1960,Home,942,77,2835,2518,296,614,107,32,...,923,48,16,40,19.0,27,54,0.274,92,87
15,1960,Away,1004,79,3088,2806,375,743,113,30,...,1168,62,17,20,20.0,35,49,0.285,107,111
16,1960,Home,981,77,2823,2487,371,651,100,16,...,1074,55,14,37,22.0,38,38,0.267,103,105
17,1960,Away,986,78,3066,2746,402,728,119,16,...,1137,69,16,33,26.0,20,49,0.284,97,107
18,1962,Home,957,82,3063,2694,479,768,108,14,...,1231,50,21,40,29.0,17,53,0.297,107,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,1998,Away,1159,82,3374,2961,422,795,153,15,...,1209,66,20,34,23.0,28,21,0.301,95,104
92,1999,Home,1137,81,3110,2683,390,703,139,8,...,1119,66,31,36,21.0,25,36,0.295,94,95
93,1999,Away,1138,81,3339,2880,482,804,168,10,...,1295,63,29,51,21.0,15,38,0.306,105,111
94,2000,Home,1142,81,3073,2652,451,751,144,26,...,1277,58,20,35,36.0,35,23,0.302,102,111
95,2000,Away,1136,81,3345,2867,474,784,160,18,...,1328,73,31,38,30.0,25,39,0.303,98,115

In [14]:
candlestick = candlestick.drop(columns = ['G', 'GS', 'PA', 'R', 'H', '2B', '3B','RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'TB', 'GDP',
       'HBP', 'SH', 'SF', 'IBB', 'ROE', 'BAbip', 'tOPS+', 'sOPS+'])

In [15]:
candle_home = candlestick[candlestick['Split'] == 'Home']

In [35]:
candle_home = candle_home.rename(columns={"Park_Factor_Splits": "Home_Park_Factor_Splits", "AB": "Home_ab", "HR": "Home_HR"})

In [16]:
candle_away = candlestick[candlestick['Split'] == 'Away']

In [17]:
def divide_two_cols_home(df):
    df['Home_Park_Factor_Splits'] = df['Home_HR'] / (df['Home_ab'])
    return df

In [18]:
polo_home = polo_home.rename(columns={"Park_Factor_Splits": "Home_Park_Factor_Splits", "AB": "Home_ab", "HR": "Home_HR"})

In [19]:
polo_home = polo_home.groupby(['Year']).apply(divide_two_cols_home)

In [20]:
polo_home

    Year Split  Home_ab  Home_HR  Home_Park_Factor_Splits
0   1951  Home     2603      115                 0.044180
2   1952  Home     2546      103                 0.040456
4   1953  Home     2584      109                 0.042183
6   1954  Home     2495      120                 0.048096
8   1955  Home     2640       95                 0.035985
10  1956  Home     2488       94                 0.037781
12  1957  Home     2641       99                 0.037486

In [21]:
def divide_two_cols_away(df):
    df['Away_Park_Factor_Splits'] = df['Away_HR'] / (df['Away_ab'])
    return df

In [22]:
polo_away = polo_away.rename(columns={"Park_Factor_Splits": "Away_Park_Factor_Splits", "AB": "Away_ab", "HR": "Away_HR"})

In [23]:
polo_away = polo_away.groupby(['Year']).apply(divide_two_cols_away)

In [24]:
polo_away

    Year Split  Away_ab  Away_HR  Away_Park_Factor_Splits
1   1951  Away     2757       64                 0.023214
3   1952  Away     2683       48                 0.017890
5   1953  Away     2778       67                 0.024118
7   1954  Away     2750       66                 0.024000
9   1955  Away     2649       74                 0.027935
11  1956  Away     2701       51                 0.018882
13  1957  Away     2705       58                 0.021442

In [25]:
polo_final = polo_home.merge(polo_away, how='inner', on='Year')

In [26]:
polo_final

,Year,Split_x,Home_ab,Home_HR,Home_Park_Factor_Splits,Split_y,Away_ab,Away_HR,Away_Park_Factor_Splits
0,1951,Home,2603,115,0.044180,Away,2757,64,0.023214
1,1952,Home,2546,103,0.040456,Away,2683,48,0.017890
2,1953,Home,2584,109,0.042183,Away,2778,67,0.024118
3,1954,Home,2495,120,0.048096,Away,2750,66,0.024000
4,1955,Home,2640,95,0.035985,Away,2649,74,0.027935
5,1956,Home,2488,94,0.037781,Away,2701,51,0.018882
6,1957,Home,2641,99,0.037486,Away,2705,58,0.021442

In [27]:
polo_final['Annual_Park_Factor'] = polo_final['Home_Park_Factor_Splits'] / polo_final['Away_Park_Factor_Splits']

In [28]:
polo_final

,Year,Split_x,Home_ab,Home_HR,Home_Park_Factor_Splits,Split_y,Away_ab,Away_HR,Away_Park_Factor_Splits,Annual_Park_Factor
0,1951,Home,2603,115,0.044180,Away,2757,64,0.023214,1.903183
1,1952,Home,2546,103,0.040456,Away,2683,48,0.017890,2.261300
2,1953,Home,2584,109,0.042183,Away,2778,67,0.024118,1.749007
3,1954,Home,2495,120,0.048096,Away,2750,66,0.024000,2.004008
4,1955,Home,2640,95,0.035985,Away,2649,74,0.027935,1.288160
5,1956,Home,2488,94,0.037781,Away,2701,51,0.018882,2.000930
6,1957,Home,2641,99,0.037486,Away,2705,58,0.021442,1.748260

In [40]:
polo_final.Home_HR.sum()

735

In [38]:
polo_park_factor = ((polo_final.Home_HR.sum()) / (polo_final.Home_ab.sum())) / ((polo_final.Away_HR.sum()) / (polo_final.Away_ab.sum())) #This is way more simple

In [39]:
polo_park_factor

1.8151915506166918

In [42]:
candle_home

    Year Split  Home_ab  Home_HR
14  1960  Home     2518       46
16  1960  Home     2487       97
18  1962  Home     2694      109
20  1963  Home     2730      101
22  1964  Home     2666       86
24  1965  Home     2679       81
26  1966  Home     2652       91
28  1967  Home     2666       65
30  1968  Home     2613       60
32  1969  Home     2644       77
34  1970  Home     2707       84
36  1971  Home     2625       71
38  1972  Home     2517       86
40  1973  Home     2705       85
42  1974  Home     2715       50
44  1975  Home     2651       36
46  1976  Home     2707       44
48  1977  Home     2725       62
50  1978  Home     2559       47
52  1979  Home     2561       53
54  1980  Home     2624       24
56  1981  Home     1798       28
58  1982  Home     2677       55
60  1983  Home     2598       73
62  1984  Home     2732       55
64  1985  Home     2643       58
66  1986  Home     2705       50
68  1987  Home     2703      118
70  1988  Home     2634       58
72  1989  Home     2652       63
74  1990  Home     2743       81
76  1991  Home     2642       69
78  1992  Home     2687       57
80  1993  Home     2663       82
82  1994  Home     1968       56
84  1995  Home     2433       76
86  1996  Home     2748       82
88  1997  Home     2653       83
90  1998  Home     2667       84
92  1999  Home     2683       87
94  2000  Home     2652      110

In [43]:
candle_away

    Year Split    AB   HR
15  1960  Away  2806   84
17  1960  Away  2746   86
19  1962  Away  2894   95
21  1963  Away  2849   96
23  1964  Away  2869   79
25  1965  Away  2816   78
27  1966  Away  2887   90
29  1967  Away  2858   75
31  1968  Away  2828   48
33  1969  Away  2830   59
35  1970  Away  2871   81
37  1971  Away  2836   69
39  1972  Away  2728   64
41  1973  Away  2832   76
43  1974  Away  2767   43
45  1975  Away  2796   48
47  1976  Away  2745   41
49  1977  Away  2772   72
51  1978  Away  2805   70
53  1979  Away  2834   72
55  1980  Away  2744   56
57  1981  Away  1968   35
59  1982  Away  2822   78
61  1983  Away  2771   69
63  1984  Away  2918   57
65  1985  Away  2776   57
67  1986  Away  2796   64
69  1987  Away  2905   87
71  1988  Away  2816   55
73  1989  Away  2817   78
75  1990  Away  2830   71
77  1991  Away  2821   72
79  1992  Away  2769   48
81  1993  Away  2894   86
83  1994  Away  1901   67
85  1995  Away  2538   76
87  1996  Away  2785   71
89  1997  Away  2832   89
91  1998  Away  2961   77
93  1999  Away  2880  101
95  2000  Away  2867  116

In [46]:
candlestick_park_factor = ((candle_home.Home_HR.sum()) / (candle_home.Home_ab.sum())) / ((candle_away.HR.sum()) / (candle_away.AB.sum()))

In [47]:
candlestick_park_factor

1.0418554717277335

In [48]:
Willie_Mays_Polo_HR= 20 + 4 + 41 + 51 + 36 + 35

In [50]:
Willie_Mays_Polo_HR

187

In [52]:
Willie_Mays_Polo_HR_ADJUSTED = Willie_Mays_Polo_HR / ((1 + polo_park_factor) / 2)

In [56]:
Willie_Mays_Polo_HR_ADJUSTED

132.85064027635067

In [57]:
Willie_Mays_Candle_HR= 29+34+29+40+49+38+47+52+37+22+23+13+28+18

In [58]:
Willie_Mays_Candle_HR

459

In [59]:
Willie_Mays_Candle_HR_ADJUSTED = Willie_Mays_Candle_HR / ((1 + candlestick_park_factor) / 2)

In [60]:
Willie_Mays_Candle_HR_ADJUSTED

449.59107670006955